<app-notification />
<p>
  <input type="button" value="Error" (click)="vm.add('Esto es una notificación de error')" >
  <input type="button" value="Warn" (click)="vm.add('Esta notificación es un aviso', vm.NotificationType.warn)" >
  <input type="button" value="Info" (click)="vm.add('Solo una notificación informativa', vm.NotificationType.info)" >
  <input type="button" value="Log" (click)="vm.add('Para trazar con notificaciones', vm.NotificationType.log)" >
</p>
<ul>
  <li *ngFor="let item of listado | async">
    {{item.titulo | elipsis:10}}
  </li>
</ul>
<form #miForm="ngForm">
  <input type="text" required />
  <div class="btn-group" role="group">
    <button class="btn btn-primary" (click)="send()" [disabled]="miForm.invalid"><i class="fas fa-check-circle"></i> Enviar</button>
    <button class="btn btn-danger" (click)="remove()"><i class="far fa-trash-alt"> Borrar</i></button>
    <button class="btn btn-success" (click)="cancel()"><i class="fas fa-undo-alt"></i> Volver</button>
  </div>
  <app-form-buttons (send)="send()" [send-text]="'Enviar'" [send-disabled]="miForm.invalid" (cancel)="cancel()" [cancel-text]="'Volver'" />
</form>
